
/* Jeff's version of the simpleBlog.*/
/*Where does that gray line before the paragraph get entered at?*/




body {
  border: 15px solid #bdc3c7;
  width: 55%;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
margin-bottom: auto;
}

time {
  color: #3498db;
  /*margin-top: 12px;
  margin-left:12px ;*/
  /*margin: 14px;*/
  letter-spacing: 1px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div {
  margin: 12px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}
